.main_edit {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color : white;
}

.edit_container {
    /* border : 1px solid white; */
    width : 40%;
    height: 80%;
    
}

.edit_input {
    width: 100%;
    
}
.edit_1 {
    width: 100%;
    height: 2rem;
}

.edit_button1 {
    margin-top:2rem;
    padding: 0.5rem;
    width:5rem;
    background-color: green;
    color : white;
    font-weight : bold;
}