.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
    gap: 30px;
}

.allRecipies {
    font-weight: bold;
    color:gray;
    margin-left: 20px;
    font-size:20px
}

.newConatainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newConatainer h1 {
    font-size:3rem;
    color: white;
}

.new {
    width: 140px;
    height: 40px;
    background-color: rgb(181, 153, 31);
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width:767px){
    .allCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;
        gap: 20px;
    }
}

body {
    background-color: #1c193d;
    
}

.logout_main1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.logout_b {
    background-color: red;
    width: 4rem;
    border-radius: 0.5rem;
    border: none;
    height: 3rem;
    cursor: pointer;
}



